<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/medialist"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{media.title}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="6">
                <ion-card class="cover-card">
                    <img src="{{this.cover}} " draggable="false" style="-moz-user-select: none;" ondragstart="return false;">
                </ion-card>
            </ion-col>

            <ion-col size="6">
                <ion-grid>
                    <ion-row class="play-controls">
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="skipPrev()" color="light">
                                <ion-icon slot="icon-only" name="play-back" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="playPause()" color="light">
                                <ion-icon *ngIf="playing" slot="icon-only" name="pause" class="small-icon"></ion-icon>
                                <ion-icon *ngIf="!playing" slot="icon-only" name="play" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="skipNext()" color="light">
                                <ion-icon slot="icon-only" name="play-forward" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>

                    <ion-row class="volume-controls">
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="volDown()" color="light">
                                <ion-icon slot="icon-only" name="remove" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button color="light" class="indicator-button">
                                <ion-icon slot="icon-only" name="volume-medium" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                        <ion-col size="4" class="ion-text-center">
                            <ion-button (click)="volUp()" color="light">
                                <ion-icon slot="icon-only" name="add" class="small-icon"></ion-icon>
                            </ion-button>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>