<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/medialist"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Currently Playing
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-col size="12" class="ion-text-center">
                <ion-card>
                    <img src="{{media.cover}}">
                    <ion-card-header>
                        <ion-card-title>{{media.artist}}</ion-card-title>
                        <ion-card-subtitle>{{media.title}}</ion-card-subtitle>
                    </ion-card-header>
                </ion-card>
            </ion-col>
        </ion-row>
        <ion-row class="player-controls">
            <ion-col class="ion-text-right">
                <ion-button size="large" fill="clear">
                    <ion-icon slot="icon-only" name="play-back" class="small-icon"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col class="ion-text-center">
                <ion-button size="large" fill="clear">
                    <ion-icon slot="icon-only" name="pause-circle" class="large-icon"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col>
                <ion-button size="large" fill="clear" class="ion-text-left">
                    <ion-icon slot="icon-only" name="play-forward" class="small-icon"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>