ion-card {
    width: 230px;
    margin: 0 auto !important;
    // max-width: 500px; // cover image size
}

ion-row.media-card {
    padding-bottom: 30px;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
}