<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            {{artist.name}}
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOptions" pager="true" #slider (ionSlideDidChange)="slideDidChange()">
        <ion-slide *ngFor="let currentMedia of media">
            <ion-grid>
                <ion-row class="media-card">
                    <ion-col size="12">
                        <ion-card>
                            <img (click)="coverClicked(currentMedia)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentMedia.title]}}">
                            <ion-card-header>
                                <ion-card-title (click)="mediaNameClicked(currentMedia)" class="ion-text-nowrap truncate-text">{{currentMedia.title}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>

    <!-- <ion-grid class="button-container">
        <ion-row>
            <ion-col class="ion-text-end" size="6">
                <ion-button color="primary" size="large" (click)="slidePrev()">
                    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button color="primary" size="large" (click)="slideNext()">
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid> -->
</ion-content>