<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>
            Media List
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-grid>
        <ion-row>
            <ion-slides [options]="slideOptions" #slider (ionSlideDidChange)="slideDidChange()">
                <ion-slide *ngFor="let currentMedia of media">
                    <ion-col size="12">
                        <ion-card>
                            <img (click)="coverClicked(currentMedia)" draggable="false" src="{{currentMedia.cover}}">
                            <ion-card-header>
                                <ion-card-title (click)="mediaNameClicked(currentMedia)" class="ion-text-nowrap truncate-text">{{currentMedia.title}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-slide>
            </ion-slides>
        </ion-row>
        <ion-row>
            <ion-col class="ion-text-end" size="6">
                <ion-button (click)="slidePrev()">
                    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="slideNext()">
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>