ion-back-button {
    --min-height: 70px;
    --min-width: 120px;
    --icon-font-size: 30px;
}

ion-card {
    width: 230px;
    margin: 0 auto !important;
    --background: #262626;
}

ion-card-title {
    padding-bottom: 5px;
}

ion-row.media-card {
    padding-top: 35px;
    padding-bottom: 42px;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    margin-top: -15px;
    ion-button {
        --padding-start: 50px;
        --padding-end: 50px;
        --border-radius: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }
}