ion-toolbar {
    ion-back-button {
        --min-height: 70px;
        --min-width: 120px;
        --icon-font-size: 30px;
    }
    ion-button {
        height: 70px !important;
        width: 70px !important;
        font-size: 20px !important;
    }
    ion-segment-button {
        font-size: 18px;
        --indicator-color: red !important;
    }
}

ion-item {
    font-size: 18px;
}

.add-button {
    padding-top: 10px;
}

.top {
    padding-bottom: 180px;
}

.bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 9999;
}

.simple-keyboard {
    max-width: 850px;
}

.hg-button {
    height: 30px !important;
    color: var(--ion-color-light);
}