<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/edit"></ion-back-button>
        </ion-buttons>
        <ion-segment value="{{this.source}}" (ionChange)="segmentChanged($event)">
            <ion-segment-button value="local">
                <ion-label>Local</ion-label>
            </ion-segment-button>
            <ion-segment-button value="spotify">
                <ion-label>Streaming</ion-label>
            </ion-segment-button>
        </ion-segment>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div [ngSwitch]="source">
        <div *ngSwitchCase="'local'">
            1
        </div>

        <div *ngSwitchCase="'spotify'">
            <form #form="ngForm" (ngSubmit)="submit(form)">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <div class="top">
                                <ion-item>
                                    <ion-input name="artist" type="text" placeholder="Album Artist" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="title" type="text" placeholder="Album Title" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="id" type="text" placeholder="Album Unique ID" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                                <ion-item>
                                    <ion-input name="query" type="text" placeholder="Search Query" (ionInput)="inputChanged($event)" (ionFocus)="focusChanged($event)" ngModel></ion-input>
                                </ion-item>
                                <div class="add-button">
                                    <ion-button size="large" type="submit" expand="block">Add</ion-button>
                                </div>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </form>

        </div>
    </div>
    <div class="bottom">
        <div class="simple-keyboard"></div>
    </div>
</ion-content>