<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-back-button icon="arrow-back-outline" defaultHref="/home"></ion-back-button>
        </ion-buttons>
        <ion-title>Edit Library</ion-title>
        <ion-buttons slot="end">
            <ion-button (click)="addButtonPressed()">
                <ion-icon slot="icon-only" name="add-outline"></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list mode="ios">
        <ion-item *ngFor="let item of media; let i = index" lines="inset">
            <ion-grid>
                <ion-row>
                    <ion-col size="2">
                        <ion-label color="dark" class="transparent">
                            <p>Type:</p>
                            <p>Artist:</p>
                            <p>Title:</p>
                            <p>Query:</p>
                            <p>ID:</p>
                            <p>Image:</p>
                        </ion-label>
                    </ion-col>
                    <ion-col size="9">
                        <ion-label color="dark">
                            <p>{{item.type || '-'}}</p>
                            <p>{{item.artist || '-'}}</p>
                            <p>{{item.title || '-'}}</p>
                            <p>{{item.query || '-'}}</p>
                            <p>{{item.id || '-'}}</p>
                            <p>{{item.cover || '-'}}</p>
                        </ion-label>
                    </ion-col>
                    <ion-col size="1" class="vertical-center-content">
                        <ion-button color="danger" slots="icon-only" class="round" (click)="deleteButtonPressed(i)">
                            <ion-icon name="close" class="larger"></ion-icon>
                        </ion-button>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-item>
    </ion-list>
</ion-content>