<ion-header>
    <ion-toolbar color="light">
        <ion-buttons slot="start">
            <ion-button disabled="true">
                <ion-icon slot="icon-only" name=""></ion-icon>
                <!-- Dummy button to center ion-segment -->
            </ion-button>
        </ion-buttons>
        <ion-segment value="{{this.category}}" (ionChange)="categoryChanged($event)">
            <ion-segment-button value="audiobook">
                <ion-icon name="book-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="music">
                <ion-icon name="musical-notes-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="playlist">
                <ion-icon name="document-text-outline"></ion-icon>
            </ion-segment-button>
            <ion-segment-button value="radio">
                <ion-icon name="radio-outline"></ion-icon>
            </ion-segment-button>
        </ion-segment>
        <ion-buttons slot="end">
            <ion-button (click)="editButtonPressed()">
                <ion-icon slot="icon-only" name=""></ion-icon>
            </ion-button>
        </ion-buttons>
    </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngIf="category === 'audiobook' || category === 'music'; then artistBlock else mediaBlock"></div>

    <ng-template #artistBlock>
        <ion-slides [options]="slideOptions" scrollbar="true" #artist_slider>
            <ion-slide *ngFor="let currentArtist of artists">
                <ion-grid>
                    <ion-row>
                        <ion-col size="12">
                            <ion-card class="circle-card">
                                <img (click)="artistCoverClicked(currentArtist)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentArtist.name]}}">
                            </ion-card>
                        </ion-col>
                    </ion-row>
                    <ion-row class="title-card">
                        <ion-col size="12">
                            <ion-card (click)="artistNameClicked(currentArtist)">
                                <ion-card-header>
                                    <ion-card-title class="ion-text-nowrap truncate-text">{{currentArtist.name}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ng-template>
    
    <ng-template #mediaBlock>
        <ion-slides [options]="slideOptions" scrollbar="true" #media_slider>
            <ion-slide *ngFor="let currentMedia of media">
                <ion-grid>
                    <ion-row class="media-card">
                        <ion-col size="12">
                            <ion-card class="media-card">
                            <div *ngIf="covers[currentMedia.title] != null; then coverExist else coverEmpty"></div>
                              <ng-template #coverEmpty>
                                <img (click)="mediaCoverClicked(currentMedia)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/7/79/Face-smile.svg/500px-Face-smile.svg.png">
                              </ng-template>
                              <ng-template #coverExist>
                                <img (click)="mediaCoverClicked(currentMedia)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentMedia.title]}}">
                              </ng-template>
                                <ion-card-header (click)="mediaNameClicked(currentMedia)">
                                    <ion-card-title class="ion-text-nowrap truncate-text">{{currentMedia.title}}</ion-card-title>
                                </ion-card-header>
                            </ion-card>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-slide>
        </ion-slides>
    </ng-template>
</ion-content>