ion-card {
    margin: 0px auto;
}

.circle-card {
    width: 220px;
    height: 220px;
    border-radius: 115px;
    border: 6px solid var(--ion-color-dark);
    margin-top: 8px;
}

.title-card {
    margin-top: 5px;
    ion-card {
        width: 230px;
        height: 56px;
        --background: #262626;
    }
    padding-bottom: 25px;
}

.truncate-text {
    overflow: hidden;
    text-overflow: ellipsis;
}

.button-container {
    margin-top: -15px;
    ion-button {
        --padding-start: 50px;
        --padding-end: 50px;
        --border-radius: 6px;
        padding-left: 20px;
        padding-right: 20px;
    }
}