<ion-header>
    <ion-toolbar color="light">
        <ion-title>
            Artists
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>
    <ion-slides [options]="slideOptions" #slider (ionSlideDidChange)="slideDidChange()">
        <ion-slide *ngFor="let currentArtist of artists">
            <ion-grid>
                <ion-row class="stack-three">
                    <ion-col size="12">
                        <ion-card class="quadratic-card">
                            <img (click)="coverClicked(currentArtist)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentArtist.name]}}">
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row class="stack-two">
                    <ion-col size="12">
                        <ion-card class="quadratic-card">
                            <img (click)="coverClicked(currentArtist)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentArtist.name]}}">
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row class="stack-one">
                    <ion-col size="12">
                        <ion-card class="quadratic-card">
                            <img (click)="coverClicked(currentArtist)" draggable="false" style="-moz-user-select: none;" ondragstart="return false;" src="{{covers[currentArtist.name]}}">
                        </ion-card>
                    </ion-col>
                </ion-row>
                <ion-row class="title-card">
                    <ion-col size="12">
                        <ion-card>
                            <ion-card-header>
                                <ion-card-title (click)="artistNameClicked(currentArtist)" class="ion-text-nowrap truncate-text">{{currentArtist.name}}</ion-card-title>
                            </ion-card-header>
                        </ion-card>
                    </ion-col>
                </ion-row>
            </ion-grid>
        </ion-slide>
    </ion-slides>
    <ion-grid>
        <ion-row>
            <ion-col class="ion-text-end" size="6">
                <ion-button (click)="slidePrev()">
                    <ion-icon slot="icon-only" name="arrow-back-outline"></ion-icon>
                </ion-button>
            </ion-col>
            <ion-col size="6">
                <ion-button (click)="slideNext()">
                    <ion-icon slot="icon-only" name="arrow-forward-outline"></ion-icon>
                </ion-button>
            </ion-col>
        </ion-row>
    </ion-grid>
</ion-content>